---
import Layout from '../../layouts/portal.astro';

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
---

<Layout title="Profile">
	<h1>Profile</h1>
	<p>User id: {session.user.userId}</p>
	<p>GitHub username: {session.user.githubUsername}</p>
	<form method="post" action="/logout">
		<input type="submit" value="Sign out" />
	</form>
</Layout>