<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-mainicon" href="/">
            <img src="/favicon.png">
            <span>SkinsDB</span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <!-- <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
        </div> -->

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/help/api">API Reference</a>
                    <a class="button is-primary" href="/api/v1/content?client=web">API</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<style>
    .navbar-mainicon {
        display: flex;
        gap: 0.25rem;

        &:hover {
            color: #fff !important;
        }
    }
</style>