---
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';

/* interface Props {
	title: string;
} */

const { title } = Astro.props.frontmatter || Astro.props;

//const PageTitle = Astro.props.frontmatter.title ?? title;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content="SkinsDB">
		<meta property="og:description" content="Get Your Minetest Skins Here">
		<meta property="og:image" content="/skin_og_image.png">
	</head>
	<body>
		<Nav />
		<br>
		<main class="contain">
			<slot />
		</main>
		<br>
		<Footer />
	</body>
</html>
<style>
	.contain {
		max-width: 1200px;
    	margin: 0 auto;
	}
</style>
